body {
  background-color: #082032 !important;
  font-family: sans-serif;
}

.title-container h1 {
  margin: 15px 130px;
  color: #819bae;
  font-family: sans-serif;
}

.date_picker_container {
  width: 355px;
  height: 135px;
  background-color: #0b3b5f;
  border-radius: 4px;
  margin-left: 65px;
}

#covid_date_picker {
  margin-left: 95px;
  margin-top: 10px;
}

.date_picker h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #819bae;
  font-family: sans-serif;
}

.date_picker h4 {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #819bae;
  font-family: sans-serif;
}

.cases_by_state_container {
  width: 355px;
  height: 420px;
  background-color: #0b3b5f;
  border-radius: 4px;
  margin-top: 25px !important;
  margin-left: 65px;
}

.cases_by_state h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #819bae;
  font-family: 'Mako';
}

.deaths_by_state_container {
  width: 355px;
  height: 600px;
  background-color: #0b3b5f;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 65px;
}

.deaths_by_state h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #819bae;
  font-family: 'Mako';
}

.confirmed_cases_table * {
  color: #819bae;
}

.fixed_header {
  width: 352px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 380px;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.fixed_header1 {
  width: 352px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header1 tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 563px;
}

.fixed_header1 thead tr {
  display: block;
}

.fixed_header1 th,
.fixed_header1 td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.map_container {
  width: 1250px;
  height: 580px;
  background-color: #0b3b5f;
  margin-left: 380px;
  position: absolute;
  top: 78px;
  border-radius: 4px;
  padding: 10px;
  padding-bottom: 10px;
}

.chart_container {
  width: 1260px;
  height: 600px;
  background-color: #0b3b5f;
  margin-left: 380px;
  position: absolute;
  top: 685px;
  border-radius: 4px;
  padding: 10px;
  padding-bottom: 10px;
}

#mapid {
  height: 560px;
}
